/* =========
Your custom styles go here
 ========= */

.carousel-row {
  display: flex;
  flex-direction: row;
  height: 200px;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow-x: scroll;

}
.carousel-row .carousel-image {
  height: 180px;
  width: auto;
  margin-right: 10px;
}
.carousel-title a {
  color: black;
  text-decoration: underline;
}


.details-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.details-top .details-top-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.details-top .details-top-info-text {
  flex: 1;
  margin-bottom: 1rem;
}
.details-top .details-top-image-wrapper {
  flex: none;
}
.details-top .details-image {
  width: 125px;
  height: auto;
  margin-right: 15px;
}
